/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap');

/* Reused parameters */
@mixin bottom-shadow {
    box-shadow:0px 5px 8px rgba(0,0,0,.1);
}

@mixin title-underline {
    width: 40px;
    margin:0;
    margin-top:-8px;
    border-top: 3px solid $tertiary-color;
    display:block;
    margin-bottom: 2em;
}

@mixin menu-subtitle {
    font-family:'Roboto';
    font-size: 0.9em;
    margin-top:3em;
    font-weight: 300;
} 

@mixin ticket {
    .ticket{
        margin-top:1em;
        background-color: white;
        border-radius: 1em;
        padding:1.5em;
        @include bottom-shadow();

        .confirmation{
            height: 100%;
            width: 90px;
            position: absolute;
            right: 0;
            top: 0;
            border-radius: 0 1em 1em 0;
            overflow: hidden;

            .wrapper{
                background-color: $tertiary-color;
                width: 0%;
                height:100%;
                border-radius: 0 1em 1em 0;
                transition: all 0.5s;
                position: absolute;
                right: 0;
                top: 0;
            }

            .fa-check-circle{
                color:white;
                font-size: 40px;
                margin-top:30px;
                margin-left:25px;
                transition: transform 500ms ease-in-out;
            }

            &:hover {
                .wrapper{
                    width: 100%; 
                }

                .fa-check-circle{
                    transform:rotate(1turn);
                }

                ~h3{
                    width: 10em;
                }

                ~p{
                    width: 10em;
                }

                ~.price{
                    margin-right:100px;
                }

            }

        }

        h3{
            margin:0;
            font-size: 1.1em;
            font-family: 'Roboto';
            line-height: 1.5em;
            font-weight: 500;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 15em;
            transition: all 300ms ease-in-out;
        }

        p{
            margin:0;
            font-size: 1em;
            font-family: 'Roboto';
            font-weight: 300;
            line-height: 1.5em;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 15em;
            transition: all 300ms ease-in-out;
        }

        .price{
            font-size: 0.9em;
            font-weight: 500;
            float:right;
            position: relative;
            margin: -20px 0 0 0;
            font-family: 'Roboto';
            transition: all 300ms ease-in-out;
            z-index:-1;
        }
    }
}

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color:#99E2D0;
$mixed-colors:linear-gradient(180deg, $secondary-color 28%, $primary-color 100%);


/* Animations Parameters */
@keyframes FadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/* Animations */
@for $i from 1 through 9 {
    .ticket_animation-#{$i}
    { 
    animation: FadeIn #{$i * 0.6}s ease-in-out;
    transform: translate(0, -1.5em);
    transition: transform #{$i * 0.4}s ease-in-out; 
    }
}

/* General */
.flex{
    display:flex;
}

body{
    margin: 0;
    padding: 0;
}

/* Header */
header{
    padding: 5% 0;
    box-shadow: 0px 0px 7px rgba(0,0,0,.3);
    position:relative;
    z-index: 1;
    background-color: white;

    .logo{
        justify-content: center;
    }

    a{
        position: absolute;
        top: 35%;
        left: 5%;
        color: black;
        font-size: 1em;
    }
}

/* Body */
.card__cover{
    margin:0;

    img{
        object-fit: cover;
        width: 100%;
    }
}

/* Menu Section */
.menu{
    background-color: #F6F6F6;
    margin-top:-60px;
    position: relative;
    border-radius: 2em 2em 0 0;
    padding: 5% 2%;
    flex-direction: column;

    .allmenu{
        flex-direction: column;
    }

    h1{
        font-family: 'Shrikhand';
        font-weight: 500;
        font-size: 1.8em;
        margin: 3% 0 0 4%;
    }

    &--heart{

        right:5em;
        top:2.5em;
        position: absolute;

        .heart2{
            width: 2em;
            position: absolute;
            transition: all 0.4s;

            &:hover{
            transform: scale(1.2);
            }
        }

        .heart1{
            opacity: 0;
            width: 2em;
            transition: all 0.1s ease-in-out;

            &:hover{
            opacity: 1;
            transform: scale(1.2);
            }
        }
    }



    /* Starter section */
    .starters{

        flex-direction: column;
        margin: 0 3%;

        h2{
            @include menu-subtitle();
        }

        span{
            @include title-underline();
        }

        &__allstarters{
            flex-direction: column;

            @include ticket();
        }

    }

    /* Main-courses section */
    .main-courses{

        flex-direction: column;
        margin: 0 3%;

        h2{
            @include menu-subtitle();
        }

        span{
            @include title-underline();
        }

        &__allcourses{
            flex-direction: column;

            @include ticket();
        }


    }

    /* Desert section */
    .deserts{

        flex-direction: column;
        margin: 0 3%;

        h2{
            @include menu-subtitle();
        }

        span{
            @include title-underline();
        }

        &__allcourses{
            flex-direction: column;

            @include ticket();
        }


    }

    .order{
        @include bottom-shadow();
        background: $mixed-colors;
        font-size: 1.1em;
        font-family: 'Roboto';
        text-decoration: none;
        padding:1.2em 4em;
        margin-left: auto;
        margin-right: auto;
        margin-top:2em;
        margin-bottom:2em;
        border-radius: 2em;
        color:white;
        text-align: center;
        transition: all 0.5s;

        &:hover{
            background: linear-gradient(180deg, lighten($secondary-color, 2%) 30%, lighten($primary-color, 2%) 100%);
            box-shadow:0px 12px 15px rgba(0,0,0,.3);
        }
    }
}

/* Footer */
footer{
    font-size: 1.1em;
    background-color: hsl(0, 0%, 21%);
    padding: 5% 0 7% 6%;
    margin: 0;

    h2{
        font-family: 'Shrikhand';
        font-weight: 100;
        color: white;
        margin: 0 0 3% 0;
        font-size: 1.05em;
    }

    .footer__categories{
        flex-direction: column;

        a{
            text-decoration-line: none;
            color: white;
            font-family: 'Roboto';
            line-height: 1.7em;
        }

        .fa-utensils{
            padding-right: 1%;
            width: 0.9em;
            font-size: 0.8em;
        }

        .fa-hands-helping{
            padding-right: 1%;
            width: 0.8em;
        }

    }

}

/* Tablet Version */
@media (min-width: 700px) and (max-width: 1000px){

/* Body - TABLET VERSION */

.card__cover{

    img{
        object-fit: cover;
        width: 100%;
        height: 25em;
        position:relative;
        top: -60px;
        overflow: hidden;
    }
}

.menu{
    margin-top:-100px;

    .allmenu{

        .ticket{

            .confirmation{

                &:hover {

                    ~h3{
                        width: 13em;
                    }
    
                    ~p{
                        width: 13em;
                    }
    
                    ~.price{
                        margin-right:100px;
                    }
    
                }
    
            }
        }
    }
}

}

/* Desktop Version */
@media (min-width: 1000px){

    header{
        padding: 3% 0;
    
        .logo{
            justify-content: center;

            img{
                width: 20%;
            }
        }
    }

    .card__cover{

        img{
            object-fit: cover;
            width: 100%;
            height: 27em;
            position:relative;
            top: -130px;
            overflow: hidden;
        }
    }

    .menu{
        margin-top:-170px;
        flex-direction: column;
        padding: 2% 5%;

        .allmenu{
            flex-direction: row;
            justify-content: space-around;
            

            .ticket{
                width: 23vw;

                .confirmation{

                    .fa-check-circle{
                        margin-top:25px;
                    }

                    &:hover {

                        ~h3{
                            width: 7em;
                        }
        
                        ~p{
                            width: 7em;
                        }
        
                        ~.price{
                            margin-right:100px;
                        }
        
                    }
        
                }
        
                h3{
                    font-size: 0.9em;
                    width: 13em;
                }
        
                p{
                    font-size: 0.8em;
                    width: 15em;
                }
        
                .price{
                    font-size: 0.8em;
                }
            }
        }

        h1{
            margin-left: -0.5em;
            font-size: 2em;
        }
            
    }

    /* Footer - DESKTOP VERSION */
    Footer{
        padding: 3% 0 3% 4%;

        h2{
            font-family: 'Shrikhand';
            font-weight: 100;
            color: white;
            margin: 0 0 1% 0;
            font-size: 1.5em;
        }
    
        .footer__categories{
            flex-direction: column;
    
            a{
                font-size: 1em;
            }
        }
    }

}