/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap");
/* Reused parameters */
/* Animations Parameters */
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Animations */
.ticket_animation-1 {
  animation: FadeIn 0.6s ease-in-out;
  transform: translate(0, -1.5em);
  transition: transform 0.6s ease-in-out;
}

.ticket_animation-2 {
  animation: FadeIn 1.2s ease-in-out;
  transform: translate(0, -1.5em);
  transition: transform 1.2s ease-in-out;
}

.ticket_animation-3 {
  animation: FadeIn 1.8s ease-in-out;
  transform: translate(0, -1.5em);
  transition: transform 1.8s ease-in-out;
}

/* General */
.flex {
  display: flex;
}

body {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  padding: 5% 0;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  background-color: white;
}
header .logo {
  justify-content: center;
}
header a {
  position: absolute;
  top: 35%;
  left: 5%;
  color: black;
  font-size: 1em;
}

/* Body */
.card__cover {
  margin: 0;
}
.card__cover img {
  object-fit: cover;
  width: 100%;
}

/* Menu Section */
.menu {
  background-color: #F6F6F6;
  margin-top: -60px;
  position: relative;
  border-radius: 2em 2em 0 0;
  padding: 5% 2%;
  flex-direction: column;
  /* Starter section */
  /* Main-courses section */
  /* Desert section */
}
.menu .allmenu {
  flex-direction: column;
}
.menu h1 {
  font-family: "Shrikhand";
  font-weight: 500;
  font-size: 1.8em;
  margin: 3% 0 0 4%;
}
.menu--heart {
  right: 5em;
  top: 2.5em;
  position: absolute;
  right: 30px;
}
.menu--heart .heart2 {
  width: 2em;
  position: absolute;
  transition: all 0.4s;
}
.menu--heart .heart2:hover {
  transform: scale(1.2);
}
.menu--heart .heart1 {
  opacity: 0;
  width: 2em;
  transition: all 0.1s ease-in-out;
}
.menu--heart .heart1:hover {
  opacity: 1;
  transform: scale(1.2);
}
.menu .starters {
  flex-direction: column;
  margin: 0 3%;
}
.menu .starters h2 {
  font-family: "Roboto";
  font-size: 0.9em;
  margin-top: 3em;
  font-weight: 300;
}
.menu .starters span {
  width: 40px;
  margin: 0;
  margin-top: -8px;
  border-top: 3px solid #99E2D0;
  display: block;
  margin-bottom: 2em;
}
.menu .starters__allstarters {
  flex-direction: column;
}
.menu .starters__allstarters .ticket {
  margin-top: 1em;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}
.menu .starters__allstarters .ticket .confirmation {
  height: 100%;
  width: 90px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 1em 1em 0;
  overflow: hidden;
}
.menu .starters__allstarters .ticket .confirmation .wrapper {
  background-color: #99E2D0;
  width: 0%;
  height: 100%;
  border-radius: 0 1em 1em 0;
  transition: all 0.5s;
  position: absolute;
  right: 0;
  top: 0;
}
.menu .starters__allstarters .ticket .confirmation .fa-check-circle {
  color: white;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 30px;
  transition: transform 500ms ease-in-out;
}
.menu .starters__allstarters .ticket .confirmation:hover .wrapper {
  width: 100%;
}
.menu .starters__allstarters .ticket .confirmation:hover .fa-check-circle {
  transform: rotate(-1turn);
}
.menu .starters__allstarters .ticket .confirmation:hover ~ h3 {
  width: 10em;
}
.menu .starters__allstarters .ticket .confirmation:hover ~ p {
  width: 10em;
}
.menu .starters__allstarters .ticket .confirmation:hover ~ .price {
  margin-right: 100px;
}
.menu .starters__allstarters .ticket h3 {
  margin: 0;
  font-size: 1.1em;
  font-family: "Roboto";
  line-height: 1.5em;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 15em;
  transition: all 300ms ease-in-out;
}
.menu .starters__allstarters .ticket p {
  margin: 0;
  font-size: 1em;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 15em;
  transition: all 300ms ease-in-out;
}
.menu .starters__allstarters .ticket .price {
  font-size: 0.9em;
  font-weight: 500;
  float: right;
  position: relative;
  margin: -20px 0 0 0;
  font-family: "Roboto";
  transition: all 300ms ease-in-out;
  z-index: -1;
}
.menu .main-courses {
  flex-direction: column;
  margin: 0 3%;
}
.menu .main-courses h2 {
  font-family: "Roboto";
  font-size: 0.9em;
  margin-top: 3em;
  font-weight: 300;
}
.menu .main-courses span {
  width: 40px;
  margin: 0;
  margin-top: -8px;
  border-top: 3px solid #99E2D0;
  display: block;
  margin-bottom: 2em;
}
.menu .main-courses__allcourses {
  flex-direction: column;
}
.menu .main-courses__allcourses .ticket {
  margin-top: 1em;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}
.menu .main-courses__allcourses .ticket .confirmation {
  height: 100%;
  width: 90px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 1em 1em 0;
  overflow: hidden;
}
.menu .main-courses__allcourses .ticket .confirmation .wrapper {
  background-color: #99E2D0;
  width: 0%;
  height: 100%;
  border-radius: 0 1em 1em 0;
  transition: all 0.5s;
  position: absolute;
  right: 0;
  top: 0;
}
.menu .main-courses__allcourses .ticket .confirmation .fa-check-circle {
  color: white;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 30px;
  transition: transform 500ms ease-in-out;
}
.menu .main-courses__allcourses .ticket .confirmation:hover .wrapper {
  width: 100%;
}
.menu .main-courses__allcourses .ticket .confirmation:hover .fa-check-circle {
  transform: rotate(-1turn);
}
.menu .main-courses__allcourses .ticket .confirmation:hover ~ h3 {
  width: 10em;
}
.menu .main-courses__allcourses .ticket .confirmation:hover ~ p {
  width: 10em;
}
.menu .main-courses__allcourses .ticket .confirmation:hover ~ .price {
  margin-right: 100px;
}
.menu .main-courses__allcourses .ticket h3 {
  margin: 0;
  font-size: 1.1em;
  font-family: "Roboto";
  line-height: 1.5em;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 15em;
  transition: all 300ms ease-in-out;
}
.menu .main-courses__allcourses .ticket p {
  margin: 0;
  font-size: 1em;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 15em;
  transition: all 300ms ease-in-out;
}
.menu .main-courses__allcourses .ticket .price {
  font-size: 0.9em;
  font-weight: 500;
  float: right;
  position: relative;
  margin: -20px 0 0 0;
  font-family: "Roboto";
  transition: all 300ms ease-in-out;
  z-index: -1;
}
.menu .deserts {
  flex-direction: column;
  margin: 0 3%;
}
.menu .deserts h2 {
  font-family: "Roboto";
  font-size: 0.9em;
  margin-top: 3em;
  font-weight: 300;
}
.menu .deserts span {
  width: 40px;
  margin: 0;
  margin-top: -8px;
  border-top: 3px solid #99E2D0;
  display: block;
  margin-bottom: 2em;
}
.menu .deserts__allcourses {
  flex-direction: column;
}
.menu .deserts__allcourses .ticket {
  margin-top: 1em;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}
.menu .deserts__allcourses .ticket .confirmation {
  height: 100%;
  width: 90px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 1em 1em 0;
  overflow: hidden;
}
.menu .deserts__allcourses .ticket .confirmation .wrapper {
  background-color: #99E2D0;
  width: 0%;
  height: 100%;
  border-radius: 0 1em 1em 0;
  transition: all 0.5s;
  position: absolute;
  right: 0;
  top: 0;
}
.menu .deserts__allcourses .ticket .confirmation .fa-check-circle {
  color: white;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 30px;
  transition: transform 500ms ease-in-out;
}
.menu .deserts__allcourses .ticket .confirmation:hover .wrapper {
  width: 100%;
}
.menu .deserts__allcourses .ticket .confirmation:hover .fa-check-circle {
  transform: rotate(-1turn);
}
.menu .deserts__allcourses .ticket .confirmation:hover ~ h3 {
  width: 10em;
}
.menu .deserts__allcourses .ticket .confirmation:hover ~ p {
  width: 10em;
}
.menu .deserts__allcourses .ticket .confirmation:hover ~ .price {
  margin-right: 100px;
}
.menu .deserts__allcourses .ticket h3 {
  margin: 0;
  font-size: 1.1em;
  font-family: "Roboto";
  line-height: 1.5em;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 15em;
  transition: all 300ms ease-in-out;
}
.menu .deserts__allcourses .ticket p {
  margin: 0;
  font-size: 1em;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 15em;
  transition: all 300ms ease-in-out;
}
.menu .deserts__allcourses .ticket .price {
  font-size: 0.9em;
  font-weight: 500;
  float: right;
  position: relative;
  margin: -20px 0 0 0;
  font-family: "Roboto";
  transition: all 300ms ease-in-out;
  z-index: -1;
}
.menu .order {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #FF79DA 28%, #9356DC 100%);
  font-size: 1.1em;
  font-family: "Roboto";
  text-decoration: none;
  padding: 1.2em 4em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 2em;
  color: white;
  text-align: center;
  transition: all 0.5s;
}
.menu .order:hover {
  background: linear-gradient(180deg, #ff83dd 30%, #985ede 100%);
  box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.3);
}

/* Footer */
footer {
  font-size: 1.1em;
  background-color: #363636;
  padding: 5% 0 7% 6%;
  margin: 0;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: 100;
  color: white;
  margin: 0 0 3% 0;
  font-size: 1.05em;
}
footer .footer__categories {
  flex-direction: column;
}
footer .footer__categories a {
  text-decoration-line: none;
  color: white;
  font-family: "Roboto";
  line-height: 1.7em;
}
footer .footer__categories .fa-utensils {
  padding-right: 1%;
  width: 0.9em;
  font-size: 0.8em;
}
footer .footer__categories .fa-hands-helping {
  padding-right: 1%;
  width: 0.8em;
}

/* Tablet Version */
@media (min-width: 700px) and (max-width: 1000px) {
  /* Body - TABLET VERSION */
  .card__cover img {
    object-fit: cover;
    width: 100%;
    height: 25em;
    position: relative;
    top: -60px;
    overflow: hidden;
  }

  .menu {
    margin-top: -100px;
  }
  .menu .allmenu .ticket .confirmation:hover ~ h3 {
    width: 13em;
  }
  .menu .allmenu .ticket .confirmation:hover ~ p {
    width: 13em;
  }
  .menu .allmenu .ticket .confirmation:hover ~ .price {
    margin-right: 100px;
  }
}
/* Desktop Version */
@media (min-width: 1000px) {
  header {
    padding: 3% 0;
  }
  header .logo {
    justify-content: center;
  }
  header .logo img {
    width: 20%;
  }

  .card__cover img {
    object-fit: cover;
    width: 100%;
    height: 22em;
    position: relative;
    top: -130px;
    overflow: hidden;
  }

  .menu {
    margin-top: -170px;
    flex-direction: column;
    padding: 2% 5%;
  }
  .menu .allmenu {
    flex-direction: row;
    justify-content: space-around;
  }
  .menu .allmenu .ticket {
    width: 23vw;
  }
  .menu .allmenu .ticket .confirmation {
    width: 70px;
  }
  .menu .allmenu .ticket .confirmation .fa-check-circle {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 2em;
  }
  .menu .allmenu .ticket .confirmation:hover ~ h3 {
    width: 7em;
  }
  .menu .allmenu .ticket .confirmation:hover ~ p {
    width: 7em;
  }
  .menu .allmenu .ticket .confirmation:hover ~ .price {
    margin-right: 100px;
  }
  .menu .allmenu .ticket h3 {
    font-size: 0.9em;
    width: 13em;
  }
  .menu .allmenu .ticket p {
    font-size: 0.8em;
    width: 15em;
  }
  .menu .allmenu .ticket .price {
    font-size: 0.8em;
  }
  .menu h1 {
    margin-left: -0.5em;
    font-size: 2em;
  }

  /* Footer - DESKTOP VERSION */
  Footer {
    padding: 3% 0 3% 4%;
  }
  Footer h2 {
    font-family: "Shrikhand";
    font-weight: 100;
    color: white;
    margin: 0 0 1% 0;
    font-size: 1.5em;
  }
  Footer .footer__categories {
    flex-direction: column;
  }
  Footer .footer__categories a {
    font-size: 1em;
  }
}

/*# sourceMappingURL=card1.css.map */
