/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap');

/* Loader */

    /* Animation Parameters */
    @-webkit-keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes FadeOut {
        from {
            visibility: visible;
            opacity: 1;
        }
    
        to {
            visibility: hidden;
            opacity:0;
        }
    }


/* Reused parameters */
@mixin bottom-shadow {
    box-shadow:0px 5px 8px rgba(0,0,0,.1);
}

@mixin colored-button {
    background: rgb(224,111,218);
    background: linear-gradient(180deg, #FF79DA 28%, #9356DC 100%);
}

@mixin instruction-icon {
    color: #7E7E7E;
    float: left;
    font-size: 1.5em;
    width: 1em;
    margin:0 7% 0 5%;
}

@mixin instruction-icon-tablet {
    color: #7E7E7E;
    float: left;
    font-size: 1.5em;
    width: 2em;
    margin:2% 7% 0 5%;
    position: relative;
    margin: 2% 0 0 0;
}

@mixin instruction-icon-desktop {
    color: #7E7E7E;
    float: left;
    font-size: 2em;
    width: 2em;
    margin-left:2%;
    margin-top: 2%;
}

@mixin new-sticker {
    position: relative;
    float: right;
    margin-top:-200px;
    margin-right: 15px;
    padding: 2% 3%;
    background-color: $tertiary-color;
    color: #018766;
    font-family: 'Roboto';
    font-size: 0.8em;
    font-weight: 500;
    border-radius:0.2em
}

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color:#99E2D0;

/* General */
.flex{
    display:flex;
}

body{
    margin: 0;
    padding: 0;

    /* Loader */
    #loading-screen{
    visibility: hidden;
    animation: FadeOut 3s linear;

    #preloader {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 2;
        opacity: 1;
    }
    #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $primary-color;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $secondary-color;
        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }
    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $tertiary-color;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }
}
}

header{
    padding: 5% 0;
    box-shadow: 0px 0px 7px rgba(0,0,0,.3);
    position:relative;

    .logo{
        justify-content: center;
    }
}

/* Info section */
.info{

    .info__location{
        
        background-color: #EAEAEA;
        padding: 3% 0;

        .info__location__searchbar {

            justify-content: center;

            .marp-marker_icon{
                color: #353535;
                font-size: 1.1em;
                padding-right: 1%;
            }

            .info__location__searchbar--input{

                border:0px;
                font-family: 'Roboto';
                font-size: 1em;
                text-align: center;
                width: 35%;
                background-color: inherit;

            }
        }
    }

    .info__description{
        padding:10%;
        padding-bottom:18%;
        font-family: 'Roboto';
        margin: 0;
        text-align: center;
        background-color: #F6F6F6;

        h2{
            margin: 0;
            font-weight: 700;
            padding-bottom: 0.5em;
            font-size: 1.6em;
        }

        p{
            margin: 0;
            font-weight: 300;
            font-size: 1em;
            padding-bottom: 3em;
            color: #4D4D4D;
        }

        a{
            @include bottom-shadow();
            @include colored-button();
            text-decoration: none;
            padding:5% 7%;
            border-radius: 1.5em;
            color:white;
            transition: all 0.5s;

            &:hover{
                background: linear-gradient(180deg, lighten($secondary-color, 2%) 30%, lighten($primary-color, 2%) 100%);
                box-shadow:0px 12px 15px rgba(0,0,0,.3);
            }
        }
    }

    .info__instructions{
        flex-direction: column;
        padding:10% 5%;

        h2{
            font-family: 'Roboto';
            margin: 0;
            font-weight: 600;
            padding-bottom: 1em;
        }

        .info__allinstructions{
            flex-direction: column;

            .info__instructions--instruction{
                padding:7%;
                background-color: #F6F6F6;
                margin-bottom: 6%;
                margin-left: 5%;
                border-radius: 1em;
                @include bottom-shadow();

                &--number{
                    background-color: $primary-color;
                    font-family: 'Roboto';
                    color: white;
                    font-size: 0.8em;
                    width: 1em;
                    padding:0.5em 0.6em;
                    text-align: center;
                    border-radius: 10em;
                    position: absolute;
                    margin-left: -10%;
                }

                .fa-mobile-alt{
                    @include instruction-icon();
                }

                .fa-bars{
                    @include instruction-icon();
                }

                .fa-store{
                    @include instruction-icon();
                }

                &--text{
                    font-family: 'Roboto';
                    font-weight: 500;
                    align-self: center;
                }

                &:hover{
                    background-color:lighten($primary-color, 35%);

                    .fa-mobile-alt{
                        color:$primary-color;
                    }
    
                    .fa-bars{
                        color:$primary-color;
                    }
    
                    .fa-store{
                        color:$primary-color;
                    }
                }
            }
        }
    }


}

/* Restaurant section */
.restaurants{

    background-color: #F6F6F6;
    padding:10% 5%;
    flex-direction: column;
    
    h1{
        margin:0;
        font-family: 'Roboto';
        font-weight: 600;
        padding-bottom: 1em;
    }

    .restaurants__allcards{
        flex-direction: column; 
    }
    
    &__cards{
        width: 100%;
    }

        a{
            width: 100%;
            margin-bottom:5%;
            text-decoration: none;
            border-radius: 1em;
            @include bottom-shadow();

            .card--image{
                width: 100%;
                height: 13em;
                border-radius: 1em 1em 0em 0em;
                object-fit: cover;    
            }

            .card--description{
                padding: 2% 0 4% 4%;

                h3{
                    font-family: 'Roboto';
                    margin:0;
                    color: black;
                    font-weight:600;
                    line-height: 1.5em;
                }
    
                p{
                    font-family: 'Roboto';
                    margin:0;
                    color: black;
                    font-weight: 300;
                }
            }

            .card--heart{
                position:relative;
                float: right;
                margin-top:-3em;
                margin-right:20px;
        
                .heart2{
                    width: 1.5em;
                    position: absolute;
                    transition: all 0.4s;
        
                    &:hover{
                    transform: scale(1.2);
                    }
                }
        
                .heart1{
                    opacity: 0;
                    width: 1.5em;
                    transition: all 0.1s ease-in-out;
        
                    &:hover{
                    opacity: 1;
                    transform: scale(1.2);
                    }
                }
                    
            }

            .card--new{
                @include new-sticker();
            }

        }
}

/* Footer */
footer{
    font-size: 1.1em;
    background-color: hsl(0, 0%, 21%);
    padding: 5% 0 7% 6%;
    margin: 0;

    h2{
        font-family: 'Shrikhand';
        font-weight: 100;
        color: white;
        margin: 0 0 3% 0;
        font-size: 1.05em;
    }

    .footer__categories{
        flex-direction: column;

        a{
            text-decoration-line: none;
            color: white;
            font-family: 'Roboto';
            line-height: 1.7em;
        }

        .fa-utensils{
            padding-right: 1%;
            width: 0.9em;
            font-size: 0.8em;
        }

        .fa-hands-helping{
            padding-right: 1%;
            width: 0.8em;
        }

    }

}

/* Tablet Version */
@media (min-width: 700px) and (max-width: 1000px){

    /*Info - TABLET VERSION */
    .info{
        .info__description{
            padding: 5% 0 0 0;

            p{
                padding-bottom: 2.5em;
            }

            a{
                padding: 2%;
                margin: 0;
            }
        }

        .info__instructions{
            padding: 5% 5% 0% 5%;

            .info__allinstructions{
                flex-direction: row;

                .info__instructions--instruction{
                    padding:3%;
                    width: 100%;


                    .fa-mobile-alt{
                        @include instruction-icon-tablet();
                    }
    
                    .fa-bars{
                        @include instruction-icon-tablet();
                    }
    
                    .fa-store{
                        @include instruction-icon-tablet();
                    }

                    &--number{
                        margin-left: -4.5%;
                        margin-top: -30px;
                    }

                    &--text{
                        font-size: 1em;
                        justify-content: center;
                        align-content: center;
                        text-align: center;
                    }
                }
            }
        }

    }

    /* Restaurant - TABLET VERSION */
    .restaurants{
        padding:5%;

        a{
            .card--description{
                padding-bottom: 3%;
            }

            .card--heart{
                margin-top:-60px;
            }

        }
        
    }

}

/* Desktop Version */
@media (min-width: 1000px) {

    header{
        padding: 3% 0;
    
        .logo{
            justify-content: center;

            img{
                width: 20%;
            }
        }
    }

    /* Info - DESKTOP VERSION */
    .info{

        .info__location{

            padding: 2% 0;

            .info__location__searchbar{
                font-size: 1.2em;
            }
        }

        .info__description{
            padding: 4% 0 0 0;

            h2{
                font-size: 1.5em;
            }

            p{
                padding-bottom: 2.5em;
                font-size: 1.2em;
            }

            a{
                padding: 20px;
                margin: 0;
                font-size: 1.1em;
            }
        }

        .info__instructions{
            padding: 5% 5% 0% 0;

            h2{
                padding-left:5%;
            }

            .info__allinstructions{
                flex-direction: row;

                .info__instructions--instruction{
                    padding:3%;
                    width: 100%;
                    align-content: center;


                    .fa-mobile-alt{
                        @include instruction-icon-desktop();
                    }
    
                    .fa-bars{
                        @include instruction-icon-desktop();
                    }
    
                    .fa-store{
                        @include instruction-icon-desktop();
                    }

                    &--number{
                        margin-left: -4%;
                        margin-top: -3.5%;
                        padding:1% 1.1%;
                        font-size:1em;
                    }

                    &--text{
                        font-size: 1.1em;
                        justify-content: center;
                        align-content: center;
                        text-align: center;
                        margin-left:-10px;
                    }
                }
            }
        }
    }

    /*Restaurants - DESKTOP VERSION*/
    .restaurants{
        padding:5%;

        .restaurants__allcards{
            flex-direction: row; 
        }

        a{

            margin-right:10px;

            .card--description{
                padding-bottom: 4%;

                h3{
                    font-size: 1em;
                }

                p{
                    font-size: 0.9em;
                }
            }

            .card--heart{
                margin-top:-43px;
            }

        }
        
    }

    /* Footer - DESKTOP VERSION */
    Footer{
        padding: 3% 0 3% 4%;

        h2{
            font-family: 'Shrikhand';
            font-weight: 100;
            color: white;
            margin: 0 0 1% 0;
            font-size: 1.5em;
        }
    
        .footer__categories{
            flex-direction: column;
    
            a{
                font-size: 1em;
            }
        }
    }
    
}